# macOS
.DS_Store

# Secrets
.env
.env.local

# Terraform
infra/terraform/environments/**/.terraform/
infra/terraform/environments/**/terraform.tfstate
infra/terraform/environments/**/terraform.tfstate.backup
infra/terraform/environments/**/terraform.tfvars
infra/terraform/environments/**/.terraform.lock.hcl
