APOLLO_BASE_DOMAIN=apollodeploy.com
PLATFORM_HOST=api.apollodeploy.com
SIGNAL_HOST=api.signal.apollodeploy.com
BILLING_HOST=api.billing.apollodeploy.com
AUTH_LOGIN_URL=https://app.apollodeploy.com/login
AUTH_CONSENT_URL=https://app.apollodeploy.com/oauth/consent
LETSENCRYPT_EMAIL=ops@apollodeploy.com
ENABLE_BACKUP=true
ENABLE_OFFSITE_BACKUP=false
REDIS_MAX_MEMORY=256mb

VPS_HOST=203.0.113.10
VPS_USER=deploy
VPS_SSH_PORT=22
VPS_SSH_KEY=/absolute/path/to/id_ed25519
VPS_KNOWN_HOSTS=/absolute/path/to/known_hosts
VPS_MACHINE_ID=SET_DURING_SETUP

AWS_ACCOUNT_ID=123456789012
AWS_REGION=af-south-1
AWS_REGIONS=af-south-1,ap-southeast-1,eu-west-1,us-east-1
AWS_OPERATOR_ALERT_TOPIC_ARN=arn:aws:sns:af-south-1:123456789012:apollo-production-ops-alerts
AWS_STATE_BUCKET=apollo-deploy-terraform-state
AWS_STATE_KEY=production/terraform.tfstate
AWS_STATE_REGION=af-south-1
AWS_STATE_KMS_KEY_ID=alias/apollo-production-terraform-state
SIGNAL_ARCHIVE_RETENTION_DAYS=2555
AWS_BUCKET_NAME_OVERRIDES_JSON={}
AWS_SUPPORT_RESTORE_TRUSTED_PRINCIPAL_ARNS=
SIGNAL_DMARC_INGESTION_ENABLED=false
SIGNAL_DMARC_RECEIPT_RULE_SET=

CLOUDFLARE_ZONE_ID=0123456789abcdef0123456789abcdef
CLOUDFLARE_ORIGIN_IPV4=203.0.113.10
CLOUDFLARE_PROXIED=false

POLAR_API_BASE_URL=https://api.polar.sh
